html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #eaeaea;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	margin: 0 auto;
	max-width: 800px;
	height: 100%;
	margin: 10%;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.swipe-box {
	padding: 35%;
	padding-top: 50%;
}

.red {
	background-color: red;
	height: 100%;
	width: 100%;
	padding-right: 0;
}

.green {
	background-color: green;
	height: 100%;
	width: 100%;
	padding-left: 0;
}

.product-image {
	min-height: 600px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0px;
}

.swipeable-list-item {
	height: 100%;
	padding: 0;
	margin: 0;
	max-height: 100% !important;
}

.swipeable-list {
	height: 100%;
	position: relative;
}

.swipeable-list-item__content {
	margin: 0px;
	padding: 0px;
}

.full {
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.details {
	padding: 1em;
}

::-webkit-scrollbar {
	display: none;
}

.product-thumb {
	width: 70px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.no-meals {
	margin-top: 4em;
}

.meal-list {
	/* remove default list styles */
	list-style: none;
	margin: 0;
	padding: 0;
	/* remove spaces between li tags*/
}

.meal-list li {
	vertical-align: top;
	padding: 2%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.meal-list li img {
	border-radius: 10px;
	margin-bottom: -1.6em;
}

.meal-list li span {
	font-size: 140%;
	margin-left: 1em;
	line-height: 3em;
}

.guide {
	position: fixed;
	z-index: 10000;
	background-color: lightgray;
	margin: 2em 10%;
	padding: 1em;
	width: 80%;
	font-size: 180%;
	border-radius: 25px;
	background: rgba(226, 226, 226, 0.80);
	text-align: center;
	font-weight: 500;
}

@media all and (min-width: 800px) {
	.guide {
		width: 640px;
		margin: 2em 80px;
	}
}